.custom-nav{
    background-color: #374252;
    height: 70px;
}
.logo-div{
    width: 30px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-div img{
    width: 100%;
}
.brand-name{
    color: white;
}
.brand-name{
    padding-top: 7px;
}

.nav-btn{
    position: relative;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in;
    border: none;
    background-color: transparent;
}
.nav-btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: all 0.25s ease-in;
}
.nav-btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: all 0.25s ease-in;
}
.nav-btn:active{
    color: red;
}
.nav-btn:hover{
    color: white;
}
.nav-btn:hover::before{
    width: 50%;
}
.nav-btn:hover::after{
    width: 50%;
}
.login-nav-btn{
    border-radius: 10%;
}
.login-nav-btn:hover{
  margin-top: -5px;
  transition: all 0.1s ease-in !important;
  box-shadow: none;
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .fixed-nav .nav-btn{
      color: white;
  }
